* {
    margin: 0rem;
    list-style-type: none;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 0.5rem 5rem 5rem 5rem;
    
}

.header a {
    width: 11rem;
    height: auto;
}

#logo {
    max-width: 100%;
    height: auto;
    flex: 2;
}

.links-header a {
    color: white;
    font-size: 1.1rem;
}

.links-header a:hover {
    color: gold;
    text-decoration: underline;

}

ul {
    display: flex;
    gap: 1rem;
}

.top {
    display: flex;
    flex-direction: column;
}

.main-top {
    display: flex;
    background-color: #1F2937;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 5rem;
    
}

.main-text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-text h1 {
    font-size: 3rem;
}

.main-text .text {
    font-size: 1.2rem;
}

#contact {
    display: flex;
    width: 8rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: palevioletred;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
}

#contact span { cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}
  
#contact span:after { content: '\00bb'; position: absolute; opacity: 0; top: 0; right: -20px; transition: 0.5s;}
  
#contact:hover span {padding-right: 15px;}
  
#contact:hover span:after { opacity: 1;right: 0;}


.main-top img{
    max-width: 30%;
    height: auto;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: white;
    flex: 2;
}

.main-middle {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 2rem 0rem 6rem 0rem;
}

h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.images img {
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: silver;
    width: 11rem;
    height: 16rem;
}

.images img:hover {
    box-shadow: 2px  2px 15px #1F2937;
}

.image-palette {
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.images .text {
    text-align: center;
}


.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7EB;
    padding: 4rem 2rem 4rem 2rem;
    font-size: 2rem;
    font-style: italic;
}

.quote .text {
    border-style: solid none solid none;
    border-width: 0.1rem;
}

.ad-wrapper {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-container {
    display: flex;
    background-image: url("..//img/bunker.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    
    border-radius: 0.5rem;
    gap: 1rem;
    box-shadow: 2px  2px 10px#000000;
    width: 60rem;
    height: 7rem;
    
}

.ad-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.5rem;
}

.ad-text .h {
    font-size: 6rem;
}

.ad-text {
    text-shadow: 2px 2px 2px #000000;
}

.ad-text.m {
    font-size: 0.8rem;
}

#ad-button {
    color: white;
    border-radius: 0.5rem;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: none;

}

button span { cursor: pointer;display: inline-block;position: relative;transition: 0.5s; }
  
button span:after { content: '\00bb';position: absolute;opacity: 0; top: 0; right: -20px; transition: 0.5s;}
  
button:hover span {padding-right: 15px;}
  
button:hover span:after {opacity: 1;right: 0;}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 0.5rem;
}